@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.First-Section {
    font-family: 'Open Sans', sans-serif;

}

.Main-Content-Page-Info {}

.First-Content-Page-Info {
    padding-top: 50px;
    background-color: #ffc12f;

}

.Title-Info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}

.Info-Name {
    border-left: 10px solid #343f71;

}

.Info-Name h2 {
    color: #ffff;
    font-size: 40px;
    font-weight: 700;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

.Info-Name-img img {
    height: 300px;
    width: 400px;
}

.Second-Content-Page-Info {
    display: flex;
    flex-direction: column;

}

.Sab-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    background-color: #ffff;
}

.Sab-title hr {
    width: 80px;
    border: 1px solid rgb(95, 95, 95);

}

 .Tally-title {
    font-size: 18px;
    font-weight: bold;
    color: rgb(95, 95, 95);
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8rem;
}

.Child-1-Text {
    line-height: 1.4rem;
}

.Second-Child-Manager {
    display: flex;
    align-items: self-start;
    justify-content: space-around;
    background-color: #ffff;
    padding: 20px;
    flex-wrap: wrap-reverse;

}

.Second-Content-Child-1 {
    width: 500px;
    text-align: center;
    padding-top: 50px;

}

.Second-Content-Child-1 .Child-1-Heading {
    font-size: 35px;
    padding-bottom: 20px;
    color: #3d58cc;
}

.Second-Content-Child-1 .Child-1-Sub-heading {
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
}

.Second-Content-Child-2 img {
    vertical-align: middle;
    height: 300px;
    width: 600px;
}



.Secondary-Content-Container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ffff;
    gap: 30px;
    padding-top: 30px;
}

.Secondary-Content-Heading {
    font-size: 25px;
    font-weight: 700;
}

.Secondry-Content-Cards {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-top: 20px;
    gap: 15px;
    flex-wrap: wrap;
}

.Card-importent {
    border-top: 1px solid #ECF0F1;
    border-right: 1px solid #ECF0F1;
    border-left: 1px solid #ECF0F1;
    border-bottom: 3px solid #ECF0F1;
    transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
}

.Card-importent img,
.Card-importent h2 {
    text-align: center;
}
.card-min-with{
    min-width: 250px  !important;
    /* max-width: 500px !important; */
}

.Card-importent-2 {
    width: 28%;
    height: auto;
    padding: 30px;
    margin-bottom: 40px;
    line-height: 1.8rem;
    

}

.Card-importent-2 p {
    text-align: justify;
    font-size: 16px;
    margin: 10px;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
}

.Card-importent-2 h2 {
    color: #363636;
    font-size: 20px;
}

.Card-importent-2 div {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;

}

.Card-importent-2 hr {
    justify-content: center;
    border: 2px solid #3d58cc;
    width: 150px;
}

.Secondry-Content-Cards img {
    height: 40px;
    width: 40px;

}

.Card-importent-2:hover {
    box-shadow: 0 0 10px #d2caca;
    border-top: 1px solid #ECF0F1 !important;
    border-right: 1px solid #ECF0F1 !important;
    border-left: 1px solid #ECF0F1 !important;
    border-bottom: 3px solid #3d58cc;

}

/* ************************************ Product-Suggestion  start here ****************************************
   *************************************** Product-Suggestion  start here **************************************** */
.Product-Suggestion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    /* margin: 20px; */
    margin-top: 20px;
}

.PS-Contanir {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 40px;
    box-sizing: border-box;

}

.PS-Heading {
    color: #3d58cc;

}

.PS-Contanir p {
    text-align: justify;
}

.PS-Section p .bold {
    font-size: large;
    font-weight: bold;
}

.Card-Mager {
    /* margin: 20px; */
    width: 28%;
height: auto;

}

.PS-Section {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}

.PS-Section img {
    height: 50px;
    width: 50px;

}

/* ****************************************Our Pricing section start here ****************************************
   *******************************************Our Pricing section start here **************************************** */

.Our-Pricing {
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 80px;
    

}

.Pricing-Heading {
    color: #3d58cc;
    font-size: 30px;
    font-weight: 700;
    padding: 10px;


}

.Price-Card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.Price-Card-First {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 2px;
    margin: 2px; */
    width: 270px;

}

.Price-Card-First .pr-amount {
    margin-top: 10px;
    color: #3d58cc;
    font-size: 35px;
    font-weight: 700;
    /* position:absolute; */
}

.Price-Card-First .pr-sembal {
    /* margin-top: 10px; */
    position: absolute;
    color: black;
    font-size: 16px;
    font-weight: 200;
    margin-left: 5px;


}

.Price-Card-First .p-card {
    font-size: 14px;
    color: rgb(95, 94, 94);
    margin-top: 1px;
    text-align: center;
}
.Price-Card-First .p-card .look-manager{
    visibility: hidden;
}


.Price-Card-First .p-heading {
    font-size: 16px;
    color: rgb(95, 94, 94);

}

.Price-Card-First .bt-b {
    width: 125px;
    margin: 0px;
    padding-top: 0px;
    /* border-bottom: 2px solid #3d58cc; */
}

.Price-Card-First .check-box {
    /* padding: 2px; */
    margin: 0px 8px;

}

input[type='radio'] {
    accent-color: #3d58cc;
    cursor: pointer;
}

.Price-Card-First .Buy-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-direction: column; */
    width: 260px;
    justify-self: center;
    padding: 0;
    margin-bottom: 0px !important;

}


 .btn {
    background-color: #3d58cc;
    
    border-radius: 30px;
    font-size: 14px;
    text-decoration: none;
    color: #ffff;
    font-weight: 700;
    margin: 0;
    cursor: pointer;
    
    /* padding: 0px 18px; */

}
.btn:hover{
    background-color: #1e3bc0;
}
.Buy-btn .btn-eq{
    padding: 3px 10px;
}
.Buy-btn .btn-by{
    padding: 3px 50px;
}
.PC-2{
    border-bottom:3px solid #3d58cc;
}


/* ********************************************        Still-Doubt         *********************************
********************************************           Still-Doubt         ********************************* */
.Doubt-Manager{
    /* padding: 30px; */
    height: 250px;
    background-image: url(/public/home/index2-overlay.jpg);
    /* filter: grayscale(100%); */
    /* display: inline-block; */
}

.Bg-Role{
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.Colur-Maneger{
    background-color:rgba(59, 62, 69, .7) ;
    box-sizing: border-box;
    height: 250px;
    
}
.Still-Doubt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: #ffffff;
    padding: 30px 50px;
}
.text-center{
    text-align: center;
    font-weight: 100;
    line-height: 1.6rem;
}
.p-heading-55{
    font-size: 25px;
}
.bt-mg{
    background-color: #3d58cc;
    padding: 10px 40px;
}
.bt-mg1{
    background-color: #ffff;
    color: black;
    padding: 10px 35px;
}
.text-center span{
    font-size: 18px;
    /* color: #3d58cc !important; */
    font-weight: bold;
    /* background-color: #ffc12f; */
    color: #ffc12f;
}

